@model ProjektCmentarz.Models.Deceased

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deceased</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeathDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasketId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuneralId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuneralId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
